{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %} 
{% block content %}
<div class="container py-5">
    <div class="card p-4">
    {% if validlink %}
        <h4 class="font-weight-bold">{% translate "Please enter (and confirm) your new password." %}</h4>
        <hr>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <input type="submit" class="btn btn-primary" value='{% translate "Change my password" %}' /></td>
        </form>
    {% else %}
        <h1 class="font-weight-bold">{% translate "Password reset failed" %}</h1>
        <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}
