{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
    {% if validlink %}
        <h4 class="font-weight-bold">Please enter (and confirm) your new password.</h4>
        <hr>
        <br>
        <form action="" method="post">
    		{% csrf_token %}
			{{ form|crispy }}
			<br>
            <input type="submit" class="btn btn-primary" value="Change my password" /></td>
        </form>
    {% else %}
        <h1 class="font-weight-bold">Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}
