{% extends "base_generic.html" %}
{% load i18n %} 
{% block content %}
    <div class="row p-4">
        <div class="col-12">
            <h1 class="font-weight-bold">{% translate "Photo gallery" %}</h1>

            {% if perms.gallery.add_photo %}
                <a href="{% url 'new-photo' %}"  class="btn btn-outline-secondary btn-sm">{% translate "Add photo" %}</a>
                <br>
            {% endif %}
            <hr>
            <br>
        </div>
        <div class="gallery col-12 mb-4 mb-lg-0">
            {% if photo_list %}
                {% for photo in photo_list %}
                <div class="button-container">
                    <a href="{% url 'photo' photo.pk %}">
                        <img
                            src="{{ MEDIA_URL }}{{ photo.image }}"
                            class="w-100 shadow-1-strong rounded mb-4"
                            alt=""
                        />
                    </a>
                    {% if perms.gallery.change_photo %}
                    <form style="right:1em;"><button formaction="{% url 'edit-photo' photo.pk %}" class="btn btn-warning btn-sm m-1">{% translate "Edit" %}</button></form>
                    {% endif %}

                    {% if perms.gallery.delete_photo %}
                    <form style="left:1em;"><button formaction="{% url 'delete-photo' photo.pk %}" class="btn btn-danger btn-sm m-1">{% translate "Delete" %}</button></form>
                    {% endif %} 
                </div>
                {% endfor %}
            {% else %}
                <p>{% translate "No image available." %}</p>
            {% endif %}
        </div>
    </div>
    <div class="p-4">
        {% include 'includes/pagination.html' %}
    </div>
    <style>
        .button-container{
            display:inline-block;
            position:relative;
        }

        .button-container form{
            position: absolute;
            bottom:2em;
        }

        .gallery {
            -webkit-column-count: 4; /* Chrome, Safari, Opera */
            -moz-column-count: 4; /* Firefox */
            column-count: 4;
        }    

        @media (max-width: 1300px) {
            .gallery {
                -webkit-column-count: 3; /* Chrome, Safari, Opera */
                -moz-column-count: 3; /* Firefox */
                column-count: 3;
            }
        }

        @media (max-width: 900px) {
            .gallery {
                -webkit-column-count: 2; /* Chrome, Safari, Opera */
                -moz-column-count: 2; /* Firefox */
                column-count: 2;
            }
        }

        @media (max-width: 500px) {
            .gallery {
                -webkit-column-count: 1; /* Chrome, Safari, Opera */
                -moz-column-count: 1; /* Firefox */
                column-count: 1;
            }
        }
    </style>
{% endblock %}
