{% extends "base_generic.html" %}
{% load i18n %} 
{% block content %}
<div class="container p-4">
    <img
        src="{{ MEDIA_URL }}{{ photo.image }}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
    />
</div>

<div class="text-center">
    <div class="container">
        <p class="font-weight-bold">{{ photo.title }}</p>
        <p class="font-weight-bold" style="font-size:15px">{{ photo.published }}</p>
    </div>
    <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER|escape}}">{% translate "Back" %}</a>
</div>
{% endblock %}
