{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-between">
        <div id='id_calendar' class='card p-4 col-md-4'>
            <h1 class="font-weight-bold">New order</h1>
            <hr>
            <br>
            <form id="newOrderForm" method="POST">
                {% csrf_token %}
                {{ form|crispy }}   

                <div class="container">
                    <div class="row">
                        <p id="order_total_time"></p>
                        <p id="order_total_price"></p>
                    </div>

                    <div class="row">
                        <button class="btn btn-primary" type="submit">Order</button>
                    </div>
                </div>
            </form> 
        </div>
 
        <div id='id_calendar' class='card p-4 col-md-7'>
            <div id='id_calendar_header'></div>
            <div id='id_calendar_body'></div>
        </div>  
    </div>
</div>

<div class="modal fade" id="id_day_view_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="id_timetable_header"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" id='id_timetable_body'>
            <div class='timetable_events_container' id='id_timetable_events'></div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="id_timetable_select">Select</button>
        </div>
    </div>
    </div>
</div>

<script>
    'use strict'
    let selectedDayEventsObjList = [];
    let selectedDay;
    let total_time = 0;
    let total_price = 0;

    function getLocalText(key, ...args) {
        const localText = {
            'gcal_url' : "{% url 'gcal-data' %}",
            'dayNames' : "MON,TUE,WEN,THU,FRI,SAT,SUN",
            'monthNames' : "January,February,March,April,May,June,July,August,September,October,November,December",
            'fromTo' : `From ${args[0]} to ${args[1]}`,
            'busyFromTo' : `Busy from ${args[0]} to ${args[1]}`,
        }
        return localText[key];
    }
</script>
<script src="{% static 'booking_calendar/js/ajax.js' %}"></script>
<script src="{% static 'booking_calendar/js/events.js' %}"></script>
<script src="{% static 'booking_calendar/js/functions.js' %}"></script>
<script src="{% static 'booking_calendar/js/eventClass.js' %}"></script>


{% endblock %}
