{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <h1 class="font-weight-bold">Price list</h1>
  <br>
    {% if pricelist_list %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Job</th>						
            <th>Price</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for price in pricelist_list %}
        <tr>
          <td>{{price}}</td>
          <td>{{price.price}}</td>
          <td>
            <a href="{% url 'price-update' price.pk %}" class="settings" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
            <a href="{% url 'price-delete' price.pk %}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% block pagination %}
    <hr>
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a class="btn btn-primary btn-sm" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a class="btn btn-primary btn-sm" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %} 
    
    {% else %}
      <p>There are no prices.</p>
    {% endif %}
    <br><br>
    <a class="btn btn-primary add-new" href="{% url 'price-add' %}">Add</a>
    <a class="btn btn-outline-secondary" href="{% url 'public-prices' request.user.profile.pk%}">Share link</a>
  </div>

  <br>
  <br>
  <a class="btn btn-outline-primary" href="{% url 'user' %}">Back</a>
{% endblock %}
