{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load auth_extras %}

<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Username:</p>
                    <p>{{ user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Name:</p>
                      <p>{{ user.first_name }} {{ user.last_name }}</p>
                      <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                      <p>{{ user.email }} </p>

                      <p class="text-muted mb-0"  style="font-size: 12px">Phone:</p>
                      <p>{{ user.profile.phone_number }} </p>
                      
                    <div class="text-right">
                        <a class="btn btn-outline-secondary btn-sm" href="{% url 'user-delete' user.pk %}">Delete profile</a>
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#profileModal">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user|has_group:"Master" %}
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Master profile</h4>
                <hr>
                <div class="card-text">
                    <a class="btn btn-sm btn-outline-primary m-2"  href="{% url 'my-prices'%}">My prices</a>
                    <a class="btn btn-sm btn-outline-primary m-2"  href="{% url 'my-clients'%}">My clients</a>
                    <a class="btn btn-sm btn-outline-primary m-2"  href="{% url 'my-jobs'%}">My jobs</a>
                    <hr>
                    <p class="text-muted mb-0"  style="font-size: 12px">Timetable:</p>
                    <p> {{ user.profile.get_timetable_display  }} </p>
                    <p class="text-muted mb-0"  style="font-size: 12px">Link:</p>
                    <p> {{ user.profile.gcal_link|truncatechars:15 }} </p>
                    {% if user.profile.get_gcal_status %}
                    <p class="text-muted mb-0"  style="font-size: 12px">Google Calendar:</p>
                    <a class="btn btn-sm btn-outline-primary m-2"  href="{% url 'gcal-auth'%}">Authorize</a>
                    {% endif %}
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#profileMasterModal">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div> 
        {% endif %}
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Your orders</h4>
                <hr>
                <div class="card-text">
                <a class="btn btn-sm btn-outline-primary m-2"  href="{% url 'my-orders'%}">My orders</a>
                <hr>
                <p class="text-muted mb-0"  style="font-size: 12px">Your masters:</p>
                    {% for member in user.profile.masters.all %}
                        {{ member }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% if request.user|has_group:"Master" %}
<div class="modal fade" tabindex="-1" id="profileMasterModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Master Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ master_form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}