{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div>
    <h4>Hello, {{ user.username }}</h4>
    <p>Username:</p>
    <p>{{ user.username }}</p>
    <p>Name:</p>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>Email:</p>
    <p>{{ user.email }} </p>
</div>

<div>
    <p>Phone:</p>
    <p>{{ user.profile.phone_number }} </p>
    
    {% if user.profile.is_master %}
    <p>Key:</p>
    <p> {{ user.profile.gcal_key }} </p>
    <p>Link:</p>
    <p> {{ user.profile.gcal_link }} </p>
    {% endif %}
</div>

<div class="text-right">
    <button type="button" data-toggle="modal" data-target="#profileModal">Edit Profile</button>
</div>

<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form method="post">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {% if user.profile.is_master %}
                    {{ profile_form|crispy }}
                    {% endif %}
          </div>
            <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save changes</button>
              </form> 
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
</div>

{% endblock %}