{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <h1 class="font-weight-bold">Orders list</h1>
  <br>
    {% if order_list %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Master</th>						
            <th>Date</th>
            <th>State</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for order in order_list %}
        <tr>
          <td>{{order.master}}</td>
          <td>{{order.booking_date}}</td>
          <td>{{order.get_state_display}}</td>
          <td>
            {% if order.state != 'C' %}
              <a href="{% url 'order-update' order.pk %}" class="settings" title="Edit" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
              <a href="{% url 'order-cancel' order.pk %}" class="cancel" title="Cancel" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
            {% endif %}
            <a href="{% url 'order-view' order.pk %}" class="settings" title="View" data-toggle="tooltip"><i class="fas fa-eye"></i></a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% block pagination %}
    <hr>
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a class="btn btn-primary btn-sm" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a class="btn btn-primary btn-sm" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %} 

    {% else %}
      <p>There are no orders.</p>
    {% endif %}
    
    <br>
    <br>
    <a class="btn btn-outline-primary" href="{% url 'user' %}">Back</a>
  </div>
{% endblock %}
