{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container py-5">
  <h1 class="font-weight-bold">Price list</h1>
  <br>
    {% if pricelist_list %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Job</th>                        
            <th>Price</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for price in pricelist_list %}
        <tr>
          <td>{{price}}</td>
          <td>{{price.price}}</td>
          <td>
            <a href="{% url 'price-update' price.pk %}" class="settings" title="Edit" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
            <a href="{% url 'price-delete' price.pk %}" class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash"></i></a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'includes/pagination.html' %}
    
    {% else %}
      <p>There are no prices.</p>
    {% endif %}
    <br><br>
    <a class="btn btn-primary add-new" href="{% url 'price-add' %}">Add</a>
    <a class="btn btn-outline-info" href="{% url 'public-prices' request.user.profile.pk%}">Share link</a>
    <br>
    <br>
    <a class="btn btn-outline-secondary" href="{% url 'user' %}">Back</a>
  </div>
{% endblock %}
