{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% load i18n %} 
{% block content %}
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">{% translate "Profile" %} {{ profile.user.username|title }}</h4>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">{% get_verbose_field_name profile.user 'username' %}:</p>
                    <p>{{ profile.user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">{% translate "Name" %}:</p>
                      <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                      <p class="text-muted mb-0" style="font-size: 12px">{% get_verbose_field_name profile.user 'email' %}:</p>
                      <p>{{ profile.user.email }} </p>

                      <p class="text-muted mb-0"  style="font-size: 12px">{% get_verbose_field_name profile 'phone_number' %}:</p>
                      <p>{{ profile.phone_number }} </p>
                      
                      {% if request.user|has_group:"Master" %}
                      <p class="text-muted mb-0"  style="font-size: 12px">{% get_verbose_field_name profile 'discount' %}:</p>
                      <p>{{ profile.discount }} </p>

                      <p class="text-muted mb-0"  style="font-size: 12px">{% get_verbose_field_name profile 'comment' %}:</p>
                      <p>{{ profile.comment }} </p>
                      {% endif %}
                </div>
                {% if request.user|has_group:"Master" %}
                <div class="text-right">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#profileDiscountModal">{% translate "Add discount" %}</button>
                </div>
                {% endif %}
            </div>
        </div>
       
        <div class="col-sm-12 col-md-12 col-lg-4 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">{% translate "Masters" %}</h4>
                <hr>
                    {% for member in profile.get_uniq_masters %}
                        {{ member }}
                    {% endfor %}
            </div>
        </div>

        {% if request.user|has_group:"Master" %}
        <div class="modal fade" tabindex="-1" id="profileDiscountModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% translate "Edit Profile Discount" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ discount_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{% translate "Save changes" %}</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Close" %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER|escape}}">{% translate "Back" %}</a>
</div>
{% endblock %}
