*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
*.sqlite3

.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
__pycache__

media/
static/
pgdata/
venv/

Dockerfile
docker-compose.yml
service_secret.json
