{% load extra_settings %}
{% load i18n %} 
<script>
    'use strict'
    function getLocalText(key, ...args) {
        const localText = {
            'gcal_url' : "{% url 'gcal-data' %}",
            'dayNames' : '{% translate "MON,TUE,WEN,THU,FRI,SAT,SUN" %}',
            'monthNames' : '{% translate "January,February,March,April,May,June,July,August,September,October,November,December" %}',
            'fromTo' : `{% translate "From ${args[0]} to ${args[1]}" %}`,
            'busyFromTo' : `{% translate "Busy from ${args[0]} to ${args[1]}" %}`,
            'priceTotal' : `{% translate "Total price:" %} ${args[0]}` + '{% get_setting "PRICE_CURRENCY" default="USD" %}',
            'timeTotal' : `{% translate "Total time: ${args[0]} min" %}`,
            'selDate' : `{% translate "Date:" %} ${args[0]}`,
            'defaultTotalTime': '{% translate "Select the master" %}',
            'defaultTotalPrice': '{% translate "Select a service" %}',
            'defaultSelectedDate': '{% translate "Choose time" %}',
            'defaultCalendar': '{% translate "Select a master to see his free days" %}',
            'typeError': '{% translate "You have not chosen a service." %}',
            'responseError': '{% translate "Responce error." %}',
            'currencyName': "{% get_setting 'PRICE_CURRENCY' default='USD' %}",
            'booking': '{% translate "Booking on " %}',
        }
        return localText[key];
    }
</script>
