{% load static %}

{% load extra_settings %}

<footer>
    <div class="container-fluid bg-dark text-light mt-4 pt-4 px-5">

            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h6>Contact Us</h6>
                        {% for contact in contact_short %}
                        {{ contact.content_short|safe}}
                        {% endfor %}
                </div>

                {% if contact_social %}
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h6>Follow Us</h6>
                    <ul class="list-inline">
                        {% for share in contact_social %}
                            <li class="list-inline-item">
                                <a href="{{ share.share_url }}">{% if share.share_icon %}<i class="{{ share.share_icon }}"></i>{% endif %}{{ share.share_text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% autoescape off %}
                    {% get_setting 'FOOTER_FOLLOW' %}
                {% endautoescape %}

                <div class="col-sm-12 col-md-2 col-lg-2">
                    <h6>Account</h6>
                    {% if user.is_authenticated %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                    <a class="text-light"  href="{% url 'user'%}">{{user.username|title}}</a>
                    {% else %}
                    <a class="btn btn-sm btn-secondary" href="{% url 'login'%}?next={{request.path}}">Login</a>
                    <a class="text-light"  href="{% url 'register'%}?next={{request.path}}">Register</a>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">  
                    <h5>
                        <a class="navbar-brand" href="/">
                            <img src="/media/{% get_setting 'FOOTER_LOGO'  default='logo.png' %}" width="30" height="30" alt="logo">
                        </a>
                    </h5>
                    <p style="font-size: 12px">
                        {% autoescape off %}
                            {% get_setting 'FOOTER_DISCLOSURE' default='Disclosure' %}
                        {% endautoescape %}
                    </p>
                </div>
            </div>


        <div class="container text-center py-2">

            <p style="font-size:12px">
                {% autoescape off %}
                    {% get_setting 'FOOTER_COPYRIGHT' default='Uncle-Yura Studio' %}
                {% endautoescape %}
            </p>
        </div>

        {% autoescape off %}
            {% get_setting  'FOOTER_BLOCK' %}
        {% endautoescape %}
    </div>
</footer>
