{% load static %}
{% load i18n %} 
{% load extra_settings %}
<nav class="navbar fixed-top navbar-expand navbar-light bg-light" style="height: 5em;">
    <div class="col-5">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-size: 1.2em;">
                    {% translate "Menu" %}
            </button>
            <div class="dropdown-menu animate slideIn" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="{% url 'index'%}">{% translate "Home" %}</a>
                <a class="dropdown-item" href="{% url 'blog-home'%}">{% translate "Blog" %}</a>
                {% for tag in nav_tags %}
                <a class="dropdown-item" href="/blog/tag/{{ tag.tag_slug }}"> {{ tag.tag_name }}</a>
                {% endfor %}
                <a class="dropdown-item" href="{% url 'new-order'%}">{% translate "Book a service" %}</a>
                <a class="dropdown-item" href="{% url 'contact'%}">{% translate "Contact" %}</a>
                {% if perms.gallery.view_photo %}
                <a class="dropdown-item" href="{% url 'gallery-home' %}">{% translate "Gallery" %}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-2 text-center d-none d-sm-block">
        <a class="navbar-brand" href="/">
            <img src="{{ MEDIA_URL }}{% get_setting 'NAVBAR_LOGO' default='logo.png' %}" width="30" height="30" alt="LOGO">
        </a>
    </div>

    <div class="col-7 col-sm-5 d-flex flex-row align-items-center justify-content-end">  
        {% if contact_social %}
            {% for share in contact_social %}
            <div class="mx-2">
                <a class="text-dark" href="{{ share.share_url }}" style="font-size: 1.5em;">
                    {% if share.share_icon %}<i class="{{ share.share_icon }}"></i>{% else %}{{ share.share_text }}{% endif %}</a>    
            </div>
            {% endfor %}
        {% endif %}
        <div class="mx-2">
            <a class="btn btn-outline-secondary" href="{% url 'new-order'%}">{% translate "Book a service" %}</a>
        </div>
    </div>
</nav>
