{% load static %}

{% load extra_settings %}

<style>
    body {
      padding-top: 70px;
    }
</style>

<nav class="navbar fixed-top navbar-expand navbar-light bg-light" style="height: 70px;">
    <a class="navbar-brand" href="/">
        <img src="/media/{% get_setting 'NAVBAR_LOGO' default='logo.png' %}" width="30" height="30" alt="LOGO">
    </a>

    <div class="dropdown">
        <button class="btn btn-secondary-outline btn-sm dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="{% url 'blog-home'%}">Blog</a>
            {% for tag in nav_tags %}
               <a class="dropdown-item" href="/blog/tag/{{ tag.tag_slug }}"> {{ tag.tag_name }}</a>
            {% endfor %}
            <a class="dropdown-item" href="{% url 'new-order'%}">Book a service</a>
        </div>
      </div>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact'%}">Contact</a>
            </li>
        </ul>

        <a class="text-dark" href="{% url 'new-order'%}">Book a service</a>
    </div>
</nav>
