{% extends "base_generic.html" %}

{% block content %}
    <div class="article-banner text-center">
        <br><br>
        <div class="container">
            <h1 class="font-weight-bold">{{ article.article_title }}</h1>
            <p class="font-weight-bold" style="font-size:15px">{{ article.article_published }}</p>
            {% for tag in article.article_tags.all %}
            <span class="badge badge-info" style="font-size:14px; color:white">{{ tag }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <br>
        <p>{{ article.article_content|safe }}</p>

        <div class="dropdown float-right">
            <button class="btn btn-info btn-sm dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Share
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for share in share_tags %}
                    <a class="dropdown-item" href="{{ share.share_url }}{{ request.build_absolute_uri }}{{ share.share_text }}{{ article.article_title }}">{% if share.share_icon %}<i class="{{ share.share_icon }} "></i>{% endif %} Share with {{ share.share_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <style>
        .article-banner { 
            background-image:
            /* The image fade to white */
            linear-gradient(to left, rgba(0,0,0,0) 10%, #fff 85%),
            /* The image used */
            url("{{ article.article_image.url }}");
            /* Set a specific height */
            height:200px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: auto;
            position: relative;
        }
    </style>
{% endblock %}
