{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %} 
{% block content %}
    <div class="container py-5">
        <h1 class="font-weight-bold">{% translate "Articles" %}</h1>
        <hr>
        {% if perms.blog.add_article %}
            <a href="{% url 'new-article' %}"  class="btn btn-outline-secondary btn-sm">{% translate "Create post" %}</a>
            <br>
        {% endif %}

        <br>
        {% if article_list %}
        <div class="row">
            <div class="col-12 pb-4">
                {% for article in article_list %}
                    <a href="{% url 'article' article.article_slug %}" style="text-decoration: none">
                        <div class="row pb-4">
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <img src="{{ article.article_image.url }}" style="max-height: 12em;" class="img-fluid rounded" alt="{{ article.article_name }}">

                                <div class="container mx-auto">
                                    <div class="row">
                                    {% if perms.blog.change_article %}
                                    <form><button formaction="{% url 'edit-article' article.article_slug %}" class="btn btn-outline-warning btn-sm m-1">{% translate "Edit post" %}</button></form>
                                    {% endif %}
            
                                    {% if perms.blog.delete_article %}
                                    <form><button formaction="{% url 'delete-article' article.article_slug %}" class="btn btn-outline-danger btn-sm m-1">{% translate "Delete post" %}</button></form>
                                    {% endif %} 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-12 text-dark container">
                                <h5>{{ article.article_title }}</h5>
                                <p class="card-text text-muted" style="font-size:12px">{{ article.article_published }}</p>
                                <p>
                                    {% for tag in article.article_tags.all %}
                                        <span class="badge badge-info" style ="font-size:14px; color: white">{{ tag }}</span>
                                    {% endfor %}
                                </p>
                                <div style="overflow: hidden; max-height: 1.5em;">
                                   <div class="article_content" style="display: inline;">{{ article.article_content|safe|truncatechars_html:90}}</div> 
                                </div>
                                <br>
                                <button class="btn btn-outline-primary btn-sm">{% translate "View post" %}</button>
                            </div>   
                        </div>
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
        {% include 'includes/pagination.html' %}

        {% else %}
        <p>There are no articles.</p>
        {% endif %}
    </div>
{% endblock %}
