{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
    <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>

    <div class="container py-5">
        <br><br>
        <div class="container">
            <h1 class="font-weight-bold">{{ article.article_title }}</h1>
            <p class="font-weight-bold" style="font-size:15px">{{ article.article_published }}</p>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}                    
                <br>
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-outline-primary" href="{% url 'blog-home' %}">Cancel</a>
            </form>
            <br><br>
        </div>
    </div>
{% endblock %}
