
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.modal-body {
    height: 70vh;
    overflow-y: auto;
}

.timetable_td {
    vertical-align: middle;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.timetable_hours{
    height: 4%;  
}

.timetable_event {
    position: absolute;
    width: 70%;
    left: 20%;
    z-index: 1;
    min-height: 2.5rem;
    background: rgba(208, 152, 71, 0.4);
    padding: .5rem;
    margin-bottom: .25rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: .25rem;
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

#id_timetable_new_date{
    background:rgba(47, 152, 86, 0.4);
}


.timetable_events_container{
    min-height: 75rem;
    height: 200vh; 
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
}

.calendar_weekday_name{
    background-color: white;
    width: 14.25%;
    float: left;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    
}

.calendar_day_inactive{
    width: 14%;
    margin: .125% .125% .125%;
    height: 4em;
    float: left;
    box-sizing: border-box;
}

.calendar_day_active{
    background-color: #7c7c7c7d;
    width: 13.6%;
    margin: 0.3%;
    height: 4em;
    float: left;
    padding-top: 0.25em;
    padding-left: 0.5em;
    box-sizing: border-box;
}

.calendar_month_name{
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 2em;
    float: left;
    box-sizing: border-box;
}