
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.modal-body {
    height: 70vh;
    overflow-y: auto;
}

.timetable_td {
    vertical-align: middle;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.timetable_hours{
    height: 4%;  
}

.timetable_event {
    position: absolute;
    width: 70%;
    left: 20%;
    z-index: 1;
    min-height: 2.5rem;
    background: rgba(208, 152, 71, 0.4);
    padding: .5rem;
    margin-bottom: .25rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: .25rem;
    box-sizing: border-box;
}

#id_timetable_new_date{
    background:rgba(47, 152, 86, 0.4);
}

.timetable_events_container{
    min-height: 75rem;
    height: 200vh; 
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
}

.calendar_weekday_name{
    background-color: lightseagreen;
    width: 14.25%;
    float: left;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    
}

.calendar_day_inactive{
    border: 1px dotted red;
    width: 14.25%;
    height: 30px;
    float: left;
    box-sizing: border-box;
}

.calendar_day_active{
    border: 1px dotted green;
    width: 14.25%;
    height: 30px;
    float: left;
    box-sizing: border-box;
}

.calendar_month_name{
    border: 1px solid green;
    text-align: center;
    width: 50%;
    height: 30px;
    float: left;
    box-sizing: border-box;
    background-color: ivory;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 3px;
    margin-bottom: 3px;
}