{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class='container mx-auto my-3'>
    <div class='row'>
        <div class='col'>
            {% if contacts %}
                {% for contact in contacts %}
                <div class='card p-4 mb-2'>
                    <h4 class="card-title font-weight-bold text-center">{{ contact.name }}</h4>
                    <hr>
                    <div class="card-text">
                        <p>{{ contact.content|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class='card p-4'>
                There are no contacts.
            </div>
            {% endif %}
        </div>

        <div class='col-sm-12 col-md-12 col-lg-7 col-xl-7 pb-4'>
            <div class='card p-4 position-sticky' style='top: 10vh;'>
                <h4 class='card-title font-weight-bold text-center'>Contact</h1>
                <hr>
                <div class='card-text'>                
                    <form method='POST'>
                        {% csrf_token %}
                        {{ form|crispy }}                    
                        <br>
                        <button class='btn btn-primary' type='submit'>Send</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
