{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %} 
{% block content %}
<div class='container mx-auto my-3'>
    <div class='row'>
        <div class='col'>
            {% if contacts %}
                {% for contact in contacts %}
                <div class='card p-4 mb-2'>
                    <h5 class="font-weight-bold text-center">{{ contact.name }}</h5>
                    <hr>
                    <div class="card-text">
                        <p>{{ contact.content|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class='card p-4'>
                {% translate "There are no contacts." %}"
            </div>
            {% endif %}
        </div>

        <div class='col-sm-12 col-md-12 col-lg-7 col-xl-7 pb-4'>
            <div class='card p-4 position-sticky' style='top: 6em;'>
                <h4 class='card-title font-weight-bold text-center'>{% translate "Contact" %}</h1>
                <hr>
                <div class='card-text'>                
                    <form method='POST'>
                        {% csrf_token %}
                        {{ form|crispy }}                    
                        <br>
                        <button class='btn btn-primary' type='submit'>{% translate "Send" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
