{% extends "base_generic.html" %}
{% load extra_settings %}
{% load i18n %} 
{% block content %}
{% if top_posts %}
<div id="carouselHomePage" class="carousel slide p-0" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
    {% for article in top_posts %}
        <div class="carousel-item article banner {% if forloop.first %}active{% endif%}" style="background-image: url('{{ article.article_image.url }}');">      
            <div class="carousel-caption col-sm-12 col-md-6 col-lg-6 col-xl-4" style="top: 15%; left: 10%; right: unset; bottom: unset; text-align: left;">
                <h1>{{ article.article_title }}</h1>
                <h2 style="overflow: hidden; max-height: 8em;">
                    <div class="article_content" style="display: inline;">{{ article.article_content|safe|truncatechars_html:70}}</div> 
                </h2>
                <br>
                <a href="{% url 'article' article.article_slug %}" style="text-decoration: none" class="btn btn-outline-info btn-sm">{% translate "Read more ..." %}</a>
            </div>  
        </div>
    {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselHomePage" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{% translate "Previous" %}</span>
    </a>
    <a class="carousel-control-next" href="#carouselHomePage" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{% translate "Next" %}</span>
    </a>
</div>
{% endif %}

<div class="p-2 p-sm-5">
    <div class="row">
        <div class="col-12 pb-4">
            <div class='card p-4' style="max-height: calc(100vh - 70px); overflow-y: auto;">
                <h3 class="text-center"> 
                    {% translate "About us" %}
                </h3>
                {% autoescape off %}
                {% get_setting 'ABOUT_US' default='Nothing' %}
                {% endautoescape %}
            </div>
        </div>

        <div class='col-sm-12 col-md-6 col-lg-6 col-xl-4 pb-4'>
        {% if pricelist %}
            {% with random_price=pricelist|random %}
            <div class='card p-4 banner' style="height: 50vh; background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ MEDIA_URL }}{{ random_price.image }}');">
                <h3 class="text-center text-white"> 
                    {% translate "Popular job:" %} {{ random_price.name }}
                </h3>

                <div class="text-white p-4" style="overflow-y: auto;">
                    <p >{{ random_price.description|linebreaks }}</p>
                </div>

                <div class="mt-auto text-center">
                    <div class="text-info">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        {{ random_price.time_interval }}
                    </div>
                    <div class="text-warning">
                        {% translate "Cost:" %} {% if random_price.min_price != random_price.max_price %} {% translate "from" %} {{ random_price.min_price }} {% translate "to" %} {{ random_price.max_price }} {% else %} {{ random_price.min_price }} {% endif %}
                        {% get_setting 'PRICE_CURRENCY' default='USD' %}
                    </div>
                    <br>

                    <button type="button" class="btn btn-info m-2" data-toggle="modal" data-target="#pricelistModalScrollable">
                        {% translate "View all prices" %}
                    </button>
    
                    <a class="btn-primary btn m-2" href="{% url 'new-order'%}">{% translate "Book a service" %}</a>
                </div>
                
                <div class="modal" id="pricelistModalScrollable" tabindex="-1" role="dialog" aria-labelledby="pricelistModalScrollableLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-light">
                                <h5 class="modal-title" id="pricelistModalCenteredLabel">{% translate "Our prices" %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="{% translate 'Close' %}">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped table-borderless">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{% translate "Name" %}</th>
                                            <th>{% translate "Time" %}</th>
                                            <th>{% translate "Price" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for job in pricelist %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ job.name }}</td>
                                            <td>{{ job.time_interval }}</td>
                                            <td>{% if job.min_price != job.max_price %} {% translate "From" %} {{ job.min_price }} {% translate "to" %} {{ job.max_price }} {% else %} {{ job.min_price }} {% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate "Close" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            {% endwith %}
        {% else %}
        <div class='card'>
            <div class="card-header bg-light">
                {% translate "Our prices" %}
            </div>
            <div class="card-body">
                {% translate "There are no any prices." %}
            </div>
        </div>
        {% endif %}
        </div>

        <div class='col-sm-12 col-md-6 col-lg-6 col-xl-4 pb-4'>
            {% if masters %}
            <div class='card'>
                <div id="carouselMaster" class="carousel slide" data-ride="carousel" >
                    <div class="carousel-inner" role="listbox">
                    {% for master in masters %}
                        <div class="carousel-item {% if forloop.first %}active{% endif%}" style="height: 50vh;" >    
                            <div class="banner p-4" style="height: 100%; background-image: linear-gradient(to top, rgba(0,0,0,0.0), rgb(255, 255, 255)), url('{{ MEDIA_URL }}{{ master.avatar }}');">
                                <h3>{{ master }}</h3>
                                {{ master.comment|linebreaks}}
                            </div>  
                        </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselMaster" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{% translate "Previous" %}</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselMaster" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{% translate "Next" %}</span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class='card'>
                <div class="card-header bg-light">
                    {% translate "Our masters" %}
                </div>
                <div class="card-body">
                    {% translate "There are no any master." %}
                </div>
            </div>
            {% endif %}  
        </div>

        <div class='col-sm-12 col-md-12 col-lg-12 col-xl-4 pb-4'>
            <div class='card' style="height: 50vh;">
                <div class="card-header bg-light">
                    {% translate "How to find us" %}
                </div>
                {% translate "<div class='card-body'>No way</div>" as no_way %}
                {% autoescape off %}
                {% get_setting 'HOW_TO_FIND' default=no_way %}
                {% endautoescape %}
            </div>
        </div>

        <div class="col-12 pb-4">
            <div class='card px-4'>
                <h3 class="card-title text-center py-2"> 
                    {% translate "Reviews" %}
                </h3>
                {% if reviews %}
                <div id="carouselMultiItemReview" class="carousel slide p-0" data-ride="carousel">                 
                    <div class="carousel-inner" role="listbox">
                        <a class="carousel-control-prev" href="#carouselMultiItemReview" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">{% translate "Previous" %}</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselMultiItemReview" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">{% translate "Next" %}</span>
                        </a>

                        <div class="carousel-item active">
                            <div class="row">
                                {% for review in reviews %}
                                <div class="col-lg-3 mb-4 {% cycle '' 'd-none d-lg-block' 'd-none d-lg-block' 'd-none d-lg-block' %}">
                                    <div class="card">
                                        <a href="{% url 'photo' review.pk %}">
                                            <img
                                                src="{{ MEDIA_URL }}{{ review.image }}"
                                                class="w-100 shadow-1-strong rounded-top"
                                                alt=""
                                            />
                                        </a>
                                        <div class="card-footer bg-white">
                                            {% if review.title%}
                                                <p>{{ review.title }}</p>
                                            {% endif %}
                                            <span class="badge badge-pill badge-light">{{ review.published }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                {% else %}
                <div class="mb-2">
                    {% translate "There are no any review." %}
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .banner { 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: auto;
        position: relative;
    }

    .article {
        height: calc(100vh - 70px);
    }
</style>
{% endblock %}
